#####################################################################
#      firewall-spy-update           config file                    #
#####################################################################


#-------------------------------------------------------------------#
#       IGNORE SOME SPYWARES                                        #
#-------------------------------------------------------------------#
#
# Sometimes you can't access to some hosts or website because there 
# ip are tagged as Spyware compagny. You can ignore some spywares 
# by them descriptions (see in block file) or by ips.
#
#
# EXAMPLE (default):
# ------------------
#
#     @SPY_TO_IGNORES = ('microsoft','msn');
#
# Without these entries, your cannot use MSN.
#
# These descriptions are case "insensitive"
# "MSN" or "Msn" or msn" are the same one
#


@SPY_TO_IGNORES = ('microsoft','msn');

@IP_TO_IGNORES  = ();


# don't touch this line
return 1;
